<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragment :: head(~{::title})" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Classification_M Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/interval.css">
</head>
<body>

<!--navigator-->
<nav th:replace="admin/fragment :: menu(2)" class="ui attached inverted segment space1 shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item">Administration</h2>
            <a href="#" class="xy item mobile-hide"><i class="home icon"></i>Homepage</a>
            <a href="#" class="xy item mobile-hide"><i class="idea icon"></i>Classification</a>
            <a href="#" class="xy item mobile-hide"><i class="tags icon"></i>Tag</a>
            <div class="right mobile-hide menu">
                <div class="ui dropdown item">
                   <div class="text">
                        <img class="ui avatar image" src="../../static/images/new.jpg">clament
                   </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black button top-right icon pc-hide menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached menu">
    <a href="#" th:href="@{/admin/Classification-M/Classification-P}" class="active item">Modify</a>
    <a href="#" th:href="@{/admin/Classification-M}" class="item">List</a>
</div>
<!--content-->
<div class="space5 format-s">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">Hint:</div>
            <p th:text="${message}">Add Success</p>
        </div>
        <table class="ui table celled">
            <thead>
                <tr>
                    <th></th>
                    <th>name</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="classification,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${classification.name}">i love studying</td>
                    <td>
                        <a href="#" th:href="@{/admin/Classification-M/{id}/Classification-P(id=${classification.id})}" class="ui mini basic blue button">edit</a>
                        <a href="#" th:href="@{/admin/Classification-M/{id}/Classification-D(id=${classification.id})}" class="ui mini basic red button">delete</a>
                    </td>
                </tr>
            </tbody>


            <tfoot>
                <tr>
                    <th colspan="6">
                        <div>
                            <a href="#" th:href="@{/admin/Classification-M/Classification-P}" class="ui mini basic green button">add</a>
                        </div>
                        <div class="ui right floated pagination menu">
                            <a th:href="@{/admin/Classification-M(page=${page.number}-1)}" class="item" th:unless="${page.first}">previous page</a>
                            <a th:href="@{/admin/Classification-M(page=${page.number}+1)}" class="item" th:unless="${page.last}">next page</a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



<!--footer-->
<footer th:replace="admin/fragment :: footer" class="ui attached inverted segment space2 center aligned">
    <div class="ui container">
        <div class="ui inverted divided stackable grid">
            <div class="two wide column">
                <img src="../../static/images/me.jpeg" class="ui rounded image centered" width="150px"></div>
            <div class="three wide column">
                <h4 class="ui inverted header">Latest Blog</h4>
                <div class="ui list inverted link">
                    <a href="#" class="item">my story</a>
                    <a href="#" class="item">my story</a>
                    <a href="#" class="item">my story</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Contact</h4>
                <div class="ui list inverted link">
                    <a href="#" class="item">QQ:623845603</a>
                    <a href="#" class="item">Email1:clamentczx@gmail.com</a>
                    <a href="#" class="item">Email2:623845603@qq.com</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">Introduction</h4>
                <p class="opacity_rate">This is my individual blog used to record and share my learning experience(include music, computer science and game), wish that we can make progress together at here</p>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="text-space opacity_rate">Copyright@2020-2021 clament designed by clament</p>
</footer>



<th:block>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>
<script>
    $('.menu.toggle').click(function(){
        $('.xy').toggleClass('mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.message .close')
        .on('click', function(){
        $(this)
            .closest('.message')
            .transition('fade');
    });

</script>

</body>
</html>